@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #475569;
}
/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #94a3b8 transparent;
}
.dark html {
  scrollbar-color: #475569 transparent;
}

.animated-element {
  opacity: 0;
}
.typing-cursor::after {
  content: "|";
  animation: blink 1s infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
